.main-content {
  display: flex;
  flex: 1;
  padding: 20px 200px;
  gap: 20px;
}

/* Gameplay Box */
.gameplay-box {
  flex: 2;
  background: #fafafa;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}

.gameplay-header {
  display: flex;
  justify-content: space-between;
  /* 3 phần cách đều */
  align-items: center;
  padding: 12px;
  border-radius: 18px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #1a3849;
  max-height: 150px;
}

.gameplay-header .header-left,
.gameplay-header .header-center,
.gameplay-header .header-right {
  flex: 1;
  /* mỗi phần chiếm 1/3 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameplay-header .header-left {
  align-items: flex-start;
  /* logo sát trái */
}

.gameplay-header .header-right {
  align-items: flex-end;
  /* info sát phải */
}

.gameplay-header .room-code {
  font-size: 38px;
  font-weight: bold;
  color: rgb(253, 238, 224);
  -webkit-text-stroke: 1px rgb(253, 238, 224);
  margin-bottom: 6px;
}

.copy-content {
  display: flex;
  gap: 10px
}

.copy-btn {
  padding: 4px 8px;
  border: none;
  color: rgb(255, 235, 216);
  border-radius: 4px;
  cursor: pointer;
}
.copy-btn:hover {
  color: rgb(255, 153, 57);
}

/* Khi hover div, link cũng đổi màu và có underline */
.copy-btn:hover a {
  color: rgb(255, 153, 57) !important;
  text-decoration: underline;
}

/* Icon sẽ thừa hưởng màu từ div */
.copy-btn svg {
  transition: color 0.2s ease;
  color: inherit;
}
.gameplay-header .logo {
  width: 200px;
  height: auto;
}


.qr-code {
  margin-left: auto;
  height: 60px;
}


.player {
  display: flex;
  flex-direction: column;
  /* ảnh trên, tên dưới */
  align-items: center;
  width: 80px;
  /* fix size để đều */
}

.player .avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.player-name {
  margin-top: 6px;
  font-size: 15px;
  width: 90px;
  color: rgb(253, 238, 224);
  -webkit-text-stroke: 1px rgb(253, 238, 224);
  text-align: center;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    1px 2px 0 #000,
    0 0 3px #000;
  white-space: nowrap;
  /* không xuống dòng */
  overflow: hidden;
  /* ẩn phần tràn */
  text-overflow: ellipsis;
}

/* Info Box */
.info-box {
  flex: 1;
  background: #ffffff;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  /* đổi từ column -> row */
  align-items: center;
  /* căn giữa theo chiều dọc */
  gap: 12px;
  /* khoảng cách giữa ảnh và text */
}

.quiz-img {
  width: 120px;
  /* fix width cho ảnh */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.quiz-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  /* căn giữa theo chiều dọc */
}

.quiz-name {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  /* không xuống dòng */
  overflow: hidden;
  /* ẩn phần tràn */
  text-overflow: ellipsis;
}

.quiz-questions {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  /* không xuống dòng */
  overflow: hidden;
  /* ẩn phần tràn */
  text-overflow: ellipsis;
}

.box-content {
  background-color: #1f4053;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  justify-content: space-between;
  /* danh sách ở trên, button ở dưới, khoảng cách tự động */
}

.box-content p {
  margin: 20px 0px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    1px 2px 0 #000,
    0 0 3px #000;
}

.start-btn-container {
  display: flex;
  justify-content: center;
}

.players-container {
  display: flex;
  justify-content: center;
  /* center container ngang */
  align-items: center;
  max-height: 70%;
  height: 70%;
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 90%;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 12px;
}

.logo2 {
  display: none;
}
@media (max-width: 1560px) {
  body {
    overflow-y: auto;
  }

  .gameplay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 18px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #1a3849;
    max-height: 150px;
  }

  .main-content {
    display: flex;
    flex: 1;
    padding: 20px 200px;
    gap: 20px;
    max-height: 55%;
  }

  .gameplay-header .header-left,
  .gameplay-header .header-center,
  .gameplay-header .header-right {
    flex: 1;
    /* mỗi phần chiếm 1/3 */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gameplay-header .header-left {
    align-items: flex-start;
    /* logo sát trái */
  }

  .gameplay-header .header-right {
    align-items: flex-end;
    /* info sát phải */
  }

  .gameplay-header .room-code {
    font-size: 38px;
    font-weight: bold;
    color: rgb(253, 238, 224);
    -webkit-text-stroke: 1px rgb(253, 238, 224);
    margin-bottom: 6px;
  }

  .copy-content {
    display: flex;
  }

  .gameplay-header .logo {
    width: 200px;
    height: auto;
  }


  .qr-code {
    margin-left: auto;
    height: 60px;
  }


  .player {
    display: flex;
    flex-direction: column;
    /* ảnh trên, tên dưới */
    align-items: center;
    width: 80px;
    /* fix size để đều */
  }

  .player .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
  }

  .player-name {
    margin-top: 6px;
    font-size: 15px;
    width: 90px;
    color: rgb(253, 238, 224);
    -webkit-text-stroke: 1px rgb(253, 238, 224);
    text-align: center;
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      1px 2px 0 #000,
      0 0 3px #000;
    white-space: nowrap;
    /* không xuống dòng */
    overflow: hidden;
    /* ẩn phần tràn */
    text-overflow: ellipsis;
  }

  /* Info Box */
  .info-box {
    flex: 1;
    background: #ffffff;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    /* đổi từ column -> row */
    align-items: center;
    /* căn giữa theo chiều dọc */
    gap: 12px;
    /* khoảng cách giữa ảnh và text */
  }

  .quiz-img {
    width: 120px;
    /* fix width cho ảnh */
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  .quiz-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    /* căn giữa theo chiều dọc */
  }

  .quiz-name {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    /* không xuống dòng */
    overflow: hidden;
    /* ẩn phần tràn */
    text-overflow: ellipsis;
  }

  .quiz-questions {
    margin-top: 6px;
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    /* không xuống dòng */
    overflow: hidden;
    /* ẩn phần tràn */
    text-overflow: ellipsis;
  }

  .box-content {
    background-color: #1f4053;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    flex-direction: column;
    height: 120%;
    padding: 20px;
    justify-content: space-between;
    /* danh sách ở trên, button ở dưới, khoảng cách tự động */
  }

  .box-content p {
    margin: 20px 0px;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      1px 2px 0 #000,
      0 0 3px #000;
  }

  .start-btn-container {
    display: flex;
    justify-content: center;
  }

  .players-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 12px;
  }

  .logo2 {
    display: none;
  }
}

/* Responsive Mobile */
@media (max-width: 1100px) {
  .main-content {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .gameplay-box {
    flex: none;
  }

  .info-box {
    flex: none;
    width: 100%;
    flex-direction: row;
    gap: 8px;
  }

  .quiz-img {
    width: 80px;
    height: auto;
  }

  .gameplay-header {
    flex-direction: column;
    align-items: center;
    max-height: none;
    padding: 8px;
  }

  .gameplay-header .header-left,
  .gameplay-header .header-center,
  .gameplay-header .header-right {
    flex: none;
    width: 100%;
    align-items: center;
    margin-bottom: 6px;
  }

  .gameplay-header .room-code {
    font-size: 28px;
  }

  .header .logo {
    display: none;
  }

  .gameplay-header .logo {
    display: none;
  }

  .zoom-btn {
    display: none;
  }

  .logo2 {
    width: 300px;
    height: auto;
    display: block;
  }

  .players-container {
    max-height: 50%;
    height: auto;
  }

  .players-list {
    width: 100%;
    justify-content: center;
    max-height: 300px;
  }

  .player .avatar {
    width: 50px;
    height: 50px;
  }

  .player-name {
    font-size: 12px;
    width: 60px;
  }

  .start-btn-container {
    margin-top: 10px;
  }

  .box-content {
    padding: 10px;
  }
}