.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  justify-content: center;
  color: rgb(253, 238, 224);
  -webkit-text-stroke: 1px rgb(253, 238, 224);
  text-shadow: -2px -2px 0 #000,
               2px -2px 0 #000,
               -2px 2px 0 #000,
               1px 2px 0 #000,
               0 0 3px #000;
}

.leaderboard-current {
  align-self: flex-end;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0;
  margin-left: 30px;
  top: 120px;

    color: rgb(253, 238, 224);
  -webkit-text-stroke: 1px rgb(253, 238, 224);
  text-shadow: -2px -2px 0 #000,
               2px -2px 0 #000,
               -2px 2px 0 #000,
               1px 2px 0 #000,
               0 0 3px #000;
}

.leaderboard-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow:visible;
  margin-top: 30px;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 8px 12px;
  border-radius: 8px;
}

.lb-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lb-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.lb-name {
  font-size: 14px;
}

.lb-score {
  font-size: 14px;
  font-weight: bold;
}
